<a class="btn btn-outline-light mb-4 ms-2 mt-2" [routerLink]="['/characters', locationId]">
  ← Volver a Personajes
</a>

<div *ngIf="character" class="card character-card mx-auto mt-4" style="width: 22rem;">
  <img class="card-img-top" [src]="character.image" [alt]="character.name" style="object-fit:cover; height:320px; border-top-left-radius:1rem; border-top-right-radius:1rem;">
  <div class="card-body d-flex flex-column align-items-center">
    <h4 class="card-title mb-2 text-center">{{ character.name }}</h4>
    <p class="card-text text-center text-light small mb-0" style="opacity:0.92;">
      <b>Especie:</b> {{ character.species }}<br>
      <b>Estado:</b> {{ character.status }}<br>
      <b>Género:</b> {{ character.gender }}<br>
      <b>Origen:</b> {{ character.origin?.name }}<br>
      <b>Locación:</b> {{ character.location?.name }}
    </p>
  </div>
</div>